#
# @(#)external_keystore_rom.config	1.1 07/05/18
#
# Copyright 2006 Sun Microsystems, Inc. All rights reserved.
# SUN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
#
###############################################################################
# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#
DontRenameNonPublicFields = com.sun.midp.publickeystore.PublicKeyInfo
