<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
<!--

   Copyright  2008  Sun Microsystems, Inc. All rights reserved.

-->
    <title>package.html</title>
  </head>

  <body>

The org.w3c.dom.views package provides the Java ME DOM Views API 
      defined by JSR 280.  The API is derived from the W3 DOM2 Views API 
      (http://www.w3.org/TR/2000/REC-DOM-Level-2-Views-20001113). 
      The initial version of the JSR 280 modifications was published in October
      2006. 

  </body>
</html>
